<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="_LOG_FILE_DIR" value="${user.dir}/logs"/>
    <property name="_LOG_FILE_NAME" value="${log.file.name:-serviceDiscovery}"/> <!-- excluding path and extension -->
	<property name="_LOG_TIMEZONE" value="${log.timezone:-Asia/Seoul}"/>
	<property name="_LOG_LEVEL_ROOT" value="${log.root.level:-${log.level.default:-INFO}}"/>
    <property name="_LOG_LEVEL_SPRING" value="${log.spring.level:-${log.level.default:-INFO}}"/>
    <property name="_LOG_LEVEL_MYBATIS" value="${log.mybatis.level:-${log.level.default:-INFO}}"/>
	<property name="_PATTERN_HEADER" value="[%d{yy/MM/dd HH:mm:ss, ${_LOG_TIMEZONE}}|%-5p|%X{pid}|%t|%c{2}]"/>
 
	<!-- Send debug messages to System.out -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>${_PATTERN_HEADER} %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- Send debug message to file -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
    	
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
 	        <fileNamePattern>${_LOG_FILE_DIR}/${_LOG_FILE_NAME}.%d{yyyy-MM-dd, ${_LOG_TIMEZONE}}.%i.log</fileNamePattern>
				  <maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<root level="${_LOG_LEVEL_ROOT}">
	  <appender-ref ref="STDOUT"/>
	  <appender-ref ref="FILE"/>
	</root>	
	
	<logger name="org.springframework" level="${_LOG_LEVEL_SPRING}" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.apache.ibatis" level="${_LOG_LEVEL_MYBATIS}" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.mybatis.spring" level="${_LOG_LEVEL_SPRING}" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>		
    
	<logger name="com.skcc.aidenvas" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
</configuration>